# POSTGRES Database Secrets
PGDATABASE=<your-database-name>
PGUSER=<your-database-username>
PGPASSWORD=<your-database-password>
PGHOST=<your-database-host>
PGPORT=<your-database-port-number>
TABLENAME="public.posted_jobs"
userTableName="public.users"

# Mailchimp API Secrets
MAILCHIMP_API_KEY=<your-mailchimp-api-key>
MAILCHIMP_REGION=<your-mailchimp-region>
MAILCHIMP_MARKETING_AUDIENCE_ID=<your-mailchimp-audience-id>

# Google Recaptcha Secrets
RECAPTCHA_API_KEY=<your-recaptcha-key>
RECAPTCHA_API_SECRET_KEY=<your-recaptcha-secret-key>

# Extra Keys
JWT_SECRET_KEY='JWT_SECRET_KEY'
SECRET_KEY=<your-secret-key>

# Redis Storage URI for Rate Limiting
STORAGE_URI=redis://localhost:6379/1