{% extends 'base.html' %}

{% block title %} jikAPI {% endblock %}


{% block content%}
    <!-- Hero Section -->
    <section id="hero">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/assets/use_the_api.jpg" class="carouselimg d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../static/assets/use_the_api.jpg" class="carouselimg d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>

    <!-- Section #2 -->
    <section id="details">
        <div class="section-container border-section-container">
            <div class="container">
                    <div class="row">
                        <div class="col-md-12 section-container-spacer">
                            <div class="text-center">
                                <h2>What is jikAPI?</h2>
                                <p> jikAPI (Jobs In Kenya Live API) is a Job Search API that allows users to search for job opportunities that have been 
                                    recently posted by employers in Kenya. It will provide a simple and easy-to-use interface for users to find the perfect 
                                    job for them returning 400+ unique available jobs in Kenya posted within the last 7 days.<br>
                                    This is the easiest way to get access to the latest job postings and openings in Kenya, link to the job application page and the date posted. </p>
                            </div>
                        </div>
        
                        <div class="col-md-4">
                            <div class="fa-container">
                                <i class="fa fa-thumb-tack fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="text-center">
                                <h3>Accuracy</h3>
                            </div>
                            <div>
                                <p>jikAPI has a mechanism in place to regularly update and verify the job listings it provides to ensure that they 
                                are up-to-date and accurate. </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fa-container">
                                <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="text-center">
                                <h3>Inclusiveness</h3>
                            </div>
                            <div>
                                <p>jikAPI offers a diverse range of job listings from different sources, sectors and industries, making it a one-stop shop 
                                for job seekers in Kenya.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fa-container">
                                <i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="text-center">
                                <h3>Integration</h3>
                            </div>
                            <div>
                                <p>jikAPI provides content that will be easily embedded or interwoven throughout sites or other applications ensuring 
                                    smooth and integrated user experience.
                                </p>
                            </div>
                        </div>
        
                    </div>
            </div>
        </div>
    </section>

    <!-- section #3 -->
    <section id="misc">
        <div class="section-container background-color-container white-text-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center">
                            <h2>Coming soon...</h2>
                            <p> The API will soon include customizable search filters, a robust security system to protect user's 
                                data and ensure that the API is always available and responsive, provide more detailed information about 
                                each job listing than other similar API's, such as salary range, company culture, benefits, etc. </p>
                            <a href="/api/v2/" title="" class="btn btn-primary btn-lg disabled">Try it Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section>
        <footer>
            <div class="section-container footer-container">
                <div class="container">
                    <div class="row">
                            <div class="col-md-4">
                                <h4>Learn More...</h4>
                                <p>Want to learn more about how the API works ? 0fficial Documentation coming soon.</p>
                            </div>
        
                            <div class="col-md-4">
                                <h4>Like it ? Share it !</h4>
                                <p>
                                    <a href="{{ facebook_link }}" class="social-round-icon white-round-icon fa-icon" title="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="{{ tweet_link }}" class="social-round-icon white-round-icon fa-icon" title="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="{{ linkedin_link }}" class="social-round-icon white-round-icon fa-icon" title="">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                </p>
                                <p><small>jikAPI™ | Copyright©. All rights reserved.</small></p>
                                    <!-- <a href="http://www.mashup-template.com/" class="link-like-text" title="Create website with free html template">Mashup Template</a>/<a href="http://www.unsplash.com/" class="link-like-text" title="Beautiful Free Images">Unsplash</a>     -->
                            </div>
        
                            <div class="col-md-4">
                                <h4>Subscribe to the newsletter</h4>
                                <p>Get news and updates on the API!</p>
                                <form class="form-group" method="POST" action="{{ url_for('subscribe') }}" id="newsletterForm">
                                    <div class="input-group">
                                        <input type="email" required name="email" id="formEmail" placeholder="Enter your email address" class="form-control footer-input-text">
                                        <div class="input-group-btn">
                                            <input type="submit" value="Subscribe" class="btn btn-primary btn-newsletter">
                                        </div>
                                    </div>
                                </form>
        
        
                            </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>

{% endblock %}