{% extends 'base.html' %}

{% block title %} jikAPI {%endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Unsubscribe</h1>
    <p>Enter your email address to unsubscribe from our mailing list.</p>
    <form method="POST" action="{{ url_for('newsletter.unsubscribe') }}" id="unsubscribeForm">
        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <button type="submit" class="btn btn-danger">Unsubscribe</button>
    </form>
    
</div>

{% endblock %}

